@using DairyManagementSystem.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<SystemUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - DairyManagementSystem</title>
   <!-- Google Font: Source Sans Pro -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
   <!-- icheck bootstrap -->
   <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
   <!-- Theme style -->
   <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
   <link rel="stylesheet" href="~/css/adminSite.css" asp-append-version="true" />
</head>
<body class="hold-transition login-page">
   <button id="theme-switch" title="Change Theme" class="btn rounded-2 theme-icon">
      <span class="border-1 border-dark" id="theme-icon-light"><i class="fas fa-sun"></i></span>
      <span class="border-1 border-light text-light" id="theme-icon-dark"><i class="fas fa-moon"></i></span>
   </button>
   @RenderBody()
   <!-- jQuery -->
   <script src="~/plugins/jquery/jquery.min.js"></script>
   <!-- Bootstrap 4 -->
   <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- AdminLTE App -->
   <script src="~/dist/js/adminlte.min.js"></script>
   <script src="~/js/adminSite.js" asp-append-version="true"></script>
   @await RenderSectionAsync("Scripts", required: false)
   @await Component.InvokeAsync("NToastNotify")
</body>
</html>
